.container {
  width: 960px;
}
.mobile {
  margin-top: 40px;
}
#mobile-icon {
  margin-top: 40px;
}
#mobile-update {
  padding-left: 10px;
  margin-top: 40px;
}
#iphone-model {
  width: 256px;
  height: 539px;
  padding: 70px 16px;
  background: url('/static/pic/mobile/iphone_model.png') top left no-repeat;
}

#iphone-model .slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 224px;
  height: 399px;
}

#iphone-model .slider-inner {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

#iphone-model .slider-wrapper .item {
  width: 224px;
  height: 399px;
  float: left;
}

.download-btns {
  margin-top: 40px;
}

.download-btns .btn-ios {
  margin-right: 0;
  margin-bottom: 15px;
  background-position: 0 0;
  width: 145px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background: url("/static/pic/mobile/btn_ios_android_download.1.png") no-repeat;
  text-indent: -9999px;
}

.download-btns .btn-android {
  margin-right: 0;
  margin-bottom: 15px;
  width: 145px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background: url("/static/pic/mobile/btn_ios_android_download.1.png") no-repeat;
  text-indent: -9999px;
  background-position: 0 -50px;
}

.download-btns a:hover {
  background-position: -145px 0;
}

.download-btns .btn-android:hover {
    background-position: -145px -50px;
}