.alert-error {
    margin-top: 20px;
}
.alert-error .icon-warning-sign {
    margin-right: 5px;
    vertical-align: baseline;
}

.form-report-date {
    padding: 20px 0 5px 20px;
}
.form-report-date input {
    margin: 0 8px;
    width: 150px;
}
