body{
    font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix{*zoom:1;}

#header{
    margin: 25px 0;
}
#content {
    min-height: 210px;
    padding-bottom: 10px;
    font-size: 1.2em;
    background: #F2F2F2;
    border-top: 3px solid #E7E7E7;
}

#user-profile {
    height: 60px
    border-bottom: solid 1px #ddd;
    font-weight: bold;
}

#avatar img {
    width: 40px;
    border: none;
}

#user-name {
    padding: 10px 0 0 16px;
}

#participates {
    margin: 10px 0 10px 10px;
}
#participates ol, #participates li {
    float: left;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#participates li {
    float: left;
    padding-right: 30px;
}

#participate img {
    width: 40px;
}

#participate-name {
    text-align: center;
}
#participate-name p{
    margin-top: 6px;
}
.participate-link {
    float: left;
    padding-top: 15px;
}

#download-link {
    padding: 10px 0;
}

#download-link a {
    padding-right: 20px;
}
#game-info{
    padding-bottom: 20px;
}
.game-info-details {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 15px;
    border-top: 1px solid #E5E5E5;
}

.game-info-details li {
    list-style: none;
    padding-top: 15px;
}

.game-info-details img {
    width: 20px;
    padding-right: 5px;
    vertical-align: middle;
}

#download-link img{
    width: 96%;
    margin-left: 2%;
}

#service-call{
    color:#00A154;
    font-size:1em;
    font-weight: bold;
    margin-top:9px;
    float: right;
}
#service-call p{
    color:#989898;
    margin: 0;
}

#logo{
    float: left;
}
#logo img{
    width: 180px;
    vertical-align: middle;
}
