#content-header-fluid {
  height: 480px;
  background: #f1f1f1 url(../pic/web/backgroud.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#content-header {
  /*width: 960px;*/
  /*margin: auto;*/
  top: 50px;
  height: 480px;
}

#app-show {
  position: relative;
  top: 38px;
  margin-left: 90px;
}

#company-show {
  width: 400px;
  padding-top: 135px;
  padding-left: 30px;
}

#slogan {
  margin-top: 50px;
  margin-right: 125px;
  width: 200px;
}

#applogo {
  width: 318px;
}

#app-download {
  color: #dcdcdc;
  font-size: 18px;
  margin-top: 80px;
  width: 480px;

}

#download-link {
  width: 200px;
}

#app-download .pull-up {
  margin: 0;
  padding-top: 10px;
  width: 200px;
}

#qrcode {
  /*margin-right: 10px;*/
  margin-top: -104px;
}

#qrcode img {
  height: 104px;
  width: 104px;
}

#content-body {
  padding-top: 70px;
  width: 800px;
  margin: auto;
}

#feature1 {
  margin-top: 90px;
}

#feature2 {
  margin-top: 100px;
}

#feature3 {
  position: relative;
  top: -60px;
}

#feature3-explain {
  margin-top: 100px;
}

#header-fluid {
  background: url(../pic/web/bg-header-line.jpg) bottom left repeat-x;
}

#header {
  width: 960px;
  height: 80px;
  margin: auto;
  font-size: 14px;
}

#logo {
  margin: 21px 0;
}

#service-call {
  color: #999;
  font-weight: bold;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 20px;
}

#nav {
  line-height: 30px;
  margin-top: 26px;
}

#header ul li a {
  background: #fff;
  color: #333;
  margin-right: 0;
  margin-left: 20px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 6px;
  border-radius: 0;
  border-bottom: solid 2px green;
}

#header ul .active a {
  color: #fff;
  background: #fabd42;
  border-bottom: none;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 8px;
  border-radius: 3px;
}

#footer {
  width: 960px;
  height: 70px;
  font-size: 13px;
  color: #999;
  margin: 0 auto;
}

#footer ul li a {
  color: #999;
}

#footer .span8 {
  margin-top: 20px;
}

#footer .span4 {
  margin-top: 14px;
}

#about, #jobs {
  border-bottom: solid 1px #cdcdcd;
}
#about .container, #jobs .container, #home .container {
  width: 1024px;
  margin: 0 auto;
}

#home .container {
  height: 480px;
}

#company-address {
  padding: 30px 0 20px 0;
}

#company-intro {
  font-size: 14px;
  font-weight: bold;
}

#company-contacts {
  padding-bottom: 20px;
}

.job-section {
  padding: 20px 0 10px 0;
}

.job-section h3 {
  font-size: 19px;
}

.job-section h4 {
  font-size: 17px;
}

.job-section h5 {
  font-size: 15px;
}

#job-quick-links a {
  padding-right: 20px;
  color: green;
  font-size: 15px;
}

.job-title {
  margin-top: 30px;
  border-bottom: solid 1px #cdcdcd;
}

.job-title-first {
  margin-top: 0;
}

.job-title a {
  color: #000;
}