<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>支付宝退款</title>
    <script src='/static/js/lib/jquery.min.js' type='text/javascript'></script>
    <script type='text/javascript'>
        $(document).ready(function(){
            $('li.alipay-refund-status').each(function(){
                currentEle = $(this);
                if (currentEle.text() === 'pending'){
                    currentEle.text('待退').css('color', 'red') 
                }
                else {currentEle.text('已退')}
            });
        }); 
    </script>
  </head>
  <body>
    <h1>支付宝退款</h1>
    {% block content %}
    <div>
      {% for alipay_refund in alipay_refunds %}
        <ul>
          {% if alipay_refund.request %}
            <li><a href='{{ alipay_refund.request }}' target='_blank'>去退款</a></li>
          {% endif %}
          <li class='alipay-refund-status'>{{ alipay_refund.status }}</li>
          <li>{{ alipay_refund.out_trade_no }}</li>
          <li>{{ alipay_refund.amount }}</li>
          <li>{{ alipay_refund.trade_no }}</li>
          <li>{{ alipay_refund.create_time }}</li>
         </ul>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
