.controls select {
    margin-right: 20px;
    width: 100px;
}
.controls .seq {
    width: 30px;
    margin-right: 5px;
    text-align: right;
    vertical-align: baseline;
}
.control-label {
    width: 53px !important;
}
.controls {
    margin-left: 80px !important;
}
.nav {
    margin-bottom: 30px;
}
.btn {
    margin-right: 10px;
}
.form-actions {
    padding: 0 !important;
    margin: 0 !important;
}
