.select-date {
    vertical-align: baseline !important;
}
.fc-event {
    cursor: pointer;
}
.fc-grid th {
    text-align: left;
}
.fc-view-resourceDay tbody td {
    height: 70px;
}
.fc-view-resourceDay tbody .fc-resourceName {
    line-height: 70px;
    vertical-align: middle;
    width: 45px;
}
